@media(max-width:991px) {
    nav.navbar {
        padding: 20px 30px !important;
    }

    .nav-site-wrapper,
    .white-nav-top {
        padding: 0 !important;
    }

    #mobile-nav-open-btn {
        /* show nav-mobile button on large device*/
        display: block !important;
    }
}

@media(min-width:769px) and (max-width: 991px) {

    /** generic*/
    .vertical-heading h2 {
        font-size: 29px !important;
    }

    .btn-generale {
        margin: 0 !important;
        padding: 12px 40px 12px 40px !important;
    }

    /** services */
    .service .icon {
        font-size: 30px !important;

    }

    .service-tab .tab-bg {
        padding: 16px 20px !important;
        min-height: 300px !important;
    }

    .service-tab .tab-bg h3 {
        font-size: 15px !important;
        font-weight: 700;

    }

    .service-tab .tab-bg p {
        line-height: 20px !important;
    }

    /** Price*/
    .pricing-table .price h2 {

        font-size: 35px !important;
        margin: 0 0 0 17px !important;
    }
    /* blog**/
    .blog-post h4 {
        font-size: 20px !important;
    }
    
    /** contact */
    #offices .office h4 {
        font-size: 20px !important;
    }
}


@media(max-width:768px) {

    /** generic*/
    .vertical-heading h2 {
        font-size: 29px !important;
    }

    #home-heading h1 {
        font-size: 40px !important;
    }

    #home-text p {
        font-size: 15px !important;
    }

    .btn-generale {
        font-size: 10px !important;
        margin: 0 !important;
        padding: 8px 35px 8px 35px !important;
    }

    /** services */
    .service .icon {
        font-size: 30px !important;
    }

    /** Price*/
    .pricing-table .price h2 {

        font-size: 35px !important;
        margin: 0 0 0 17px !important;
    }
        /* blog**/
        .blog-post h4 {
            font-size: 20px !important;
        }

    /** contact */
    #offices .office h4 {
        font-size: 20px !important;
    }


}

/* @media (min-width:575px) and (max-width:767px) **/
@media(max-width:767px) {
     /** generic*/
     .vertical-heading h2 {
        font-size: 29px !important;
    }

    #home-heading h1 {
        font-size: 40px !important;
    }

    #home-text p {
        font-size: 15px !important;
    }

    .btn-generale {
        font-size: 10px !important;
        margin: 0 !important;
        padding: 8px 35px 8px 35px !important;
    }

   .skill h4 {
       font-size: 15px !important;
   }

   /** statement*/
   #tech-statement h3 {
    font-size: 20px !important;
    line-height: 30px !important ;
}


}